<div class="container">
    <h1 class="text-info mt-4 mb-4">List of our products : {{products.length}}</h1>

    <!-- Search zone -->
    <div class="row mb-4">
        <div class="col-6">
            <h6 class="text-info text-center">Search by price range</h6>
            <!-- ********************** Beggining form price range ********************* -->
            <form (ngSubmit)="searchByRange(searchRangeForm)" #searchRangeForm="ngForm">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="form-group">
                            <input type="number" class="form-control" name="min" ngModel placeholder="Minimum price">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <input type="number" class="form-control" name="max" ngModel placeholder="Maximum price">
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
            <!-- *********************** End form price range *********************** -->
        </div>
        <div class="col-6">
            <h6 class="text-info text-center">Search by keyword</h6>
            <!-- *********************** Beggining form keyword ********************* -->
            <form (ngSubmit)="searchByKeyword(searchKeywordForm)" #searchKeywordForm="ngForm">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="keyword" ngModel placeholder="Keyword">
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
            <!-- ************************* End form keyword *********************** -->
        </div>
    </div>

    <section class="row">
        <!-- Delete message -->
        <div class="text-center ml-4 mb-4 pl-4 pb-4 bg-success" *ngIf="displayDelete">Product has been deleted</div>

        <!-- Beggining display products -->
        <div class="row justify-content-center">
            <div class="col-4 row justify-content-center" *ngFor="let p of products">
                <div class="card rounded mb-4"
                    [ngClass]="{'border-success': p.available, 'border-danger ': !p.available}" style="width: 25rem;">
                    <img class="card-img-top border-bottom"
                        [ngClass]="{'border-success': p.available, 'border-danger ': !p.available}" src="{{p.picture}}"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{p.title}}</h5>
                        <p class="card-text">{{p.description}}</p>
                        <div class="card-footer row">
                            <div class="col-2">
                                <i class="available fa-regular"
                                    [ngClass]="{'text-success fa-thumbs-up': p.available, 'text-danger fa-thumbs-down': !p.available}"
                                    (click)="changeAvailability(p)">
                                </i>
                            </div>
                            <div class="col-3">
                                <a href="#" class="btn btn-primary">{{p.price}}€/Kg</a>
                            </div>
                            <div class="col-3">
                                <button (click)="deleted(p.id)">Delete</button>
                            </div>
                            <div class="col-3">
                                <!-- **************************** button modal update ******************************** -->
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#editProductModal" (click)="editProduct(p)"> Edit </button>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End display products -->

        <!-- Paging -->
        <div class="paging row justify-content-center">
            <div class="col-5 row">
                <button class="rounded col-2" (click)="movePagination(-1)"><i class="fa-solid fa-chevron-left"></i><i
                        class="fa-solid fa-chevron-left"></i></button>
                <p class="col-10">Previous page</p>
            </div>
            <div class="col-2 text-center">
                <p>Page {{pagination}}</p>
            </div>
            <div class="col-5 row">
                <p class="col-10 text-end">Next page</p>
                <button class="col-2 rounded" (click)="movePagination(1)">
                    <i class="fa-solid fa-chevron-right"></i>
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>

        <!-- **************************** Beging modal update ******************************** -->
        <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- ***************** Begin Form ***************** -->
                        <form>
                            <div class="form-group">
                                <label>Product's name</label>
                                <input type="text" class="form-control" [(ngModel)]="productEdit.title" name="title"
                                    required>
                            </div>
                            <div class="form-group">
                                <label>Product's description</label>
                                <input type="text" class="form-control" [(ngModel)]="productEdit.description"
                                    name="description" required>
                            </div>
                            <div class="form-group">
                                <label>Product's picture</label>
                                <input type="text" class="form-control" [(ngModel)]="productEdit.picture" name="picture"
                                    required>
                            </div>
                            <div class="form-group">
                                <label>Product's price</label>
                                <input type="number" class="form-control" [(ngModel)]="productEdit.price" name="price"
                                    required>
                            </div>
                        </form>

                        <!-- ****************** End Form ****************** -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button (click)="updateProduct()" type="button" class="btn btn-primary"
                            data-dismiss="modal">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***************************** End modal update ********************************* -->



    </section>


</div>